body{
    background-color:plum;
}
header {
    align-items: center;
    width: 100%;
    font-size: 100px;

}
.Container1{
    font-size: 130px;
    color:black;
    font-family: 'Satisfy', cursive;
}
.logos{
    color: darkgreen;
    font-size: 25px;
}
ul {
    font-size: 30px;
}
.carousel-inner{
    width: 1000px;
    height: 1000px;
}
p{
    font-size: 75px;
    font-family: 'Poiret One', cursive ;
    color:darkred;
}
li {
    font-family: 'Nanum Pen Script', cursive
}